*{
    margin: 0;
    padding: 0;
}
input{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius:4px;
    margin-top: 6px;
    margin-bottom:16px;
    box-sizing: border-box;
}


input[type=submit] {
    background-color: #04AA6D;
    color: white;
  }
    .container{
        background-color: #f1f1f1;
        padding:20px;

    }
    #message{
        display:none;
        background: #f1f1f1;
        color: #000;
        position: relative;
        padding:20px;
        margin-top: 10px;
    }
    #message p{
        padding:10px 35px;
        font-size:1.2rem;

    }
    .valid{
        color:green;

    }
    .valid::before{
        position: relative;
        left: -15px;
        content: "✅";
    }

    .invalid{
        color: red;
        
    }
    .invalid::before{
        position: relative;
        left: -15px;
        content:"❌";
    }